@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga:wght@300;400;500;600&display=swap');

body {
    font-family: 'Cabin', sans-serif;
}

.title{
    font-family: 'Viga', sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.layout {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.card-layout{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.card {
    align-items: center;
    display: flex;
    flex: 0 0 35%; 
    box-shadow: 0px 2px 5px rgba(0.1, 0.1, 0.1, 0.1);
    margin-bottom: 20px; /* Spacing between cards */
    margin-right: 20px;
    text-align: center; /* Center align the content */
    padding: 10px;
}

.card-body {
    text-align: center; 
}

button {
    background-color: #C780FA;
    color: #333;
    padding: 10px 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

button a {
    color: #333;
    text-decoration: none;
}

.card .card-body .headline {
    font-family: 'Viga', sans-serif;
    font-size: 30px;
}

.card .card-body .headline-2 {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}
.container{
    width: 100%;
    justify-content: center;
    margin-top: 8%;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0.1, 0.1, 0.1, 0.1);
    padding-right: 10px;

}

.container h1{
    font-family: 'Viga', sans-serif;
    font-size: 32px;
    text-align: center;
}

.container-table{
    width: 1000px;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0.1, 0.1, 0.1, 0.1);
    padding-right: 10px;
}

.container-table table {
    border:2px solid #C780FA;
    width: 100%;
  }
  
.container-table  td, th {
  border-collapse: collapse;
  width: 1000px;
  border: 2px solid #C780FA;
  text-align: left;
  padding: 8px;
}

.container-table tr:nth-child(even) {
  background-color: #dddddd;
}

.input-group input {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #C780FA;  
    transition: border-color 0.3s ease;
}

.input-group select{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #C780FA;  
    transition: border-color 0.3s ease; 
}

.input-group textarea{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #C780FA;  
    transition: border-color 0.3s ease; 
}

.submit button {
    font-family: 'Viga', sans-serif;
    font-size: 28px;
    width: 100%;
    height: auto;
    background-color: #C780FA;
    color: #333;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
}
.box-layout{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.job-box{
    width: calc(50% - 20px); /* Ubah nilai dari 10px menjadi 20px */
    margin-bottom: 20px;
    margin-left: 10px;
    box-sizing: border-box;
    height: 50%;
    background-color: white;
    border: 1px solid #C5C5C5;
    border-radius: 15px;
    padding: 10px;
    text-align: left;
  }
  
  .job-box h1{
    font-family: 'Viga', sans-serif;
    color: #000000;
    font-size: 32px;
  }
  .job-box h2{
    color: #000000;
    font-size: 20px;
  }
  .job-box h3{
    color: #000000;
    font-size: 15px;
    display: flex;
    padding: 5px;
  }
  .job-box h4{
    color: #000000;
    width: auto;
    padding: 5px;
    background-color: #D9D9D9;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
  }
  .job-box p{
    color: #717171;
    font-size: 14px;
  }
  .gray{
    color: #717171;
    font-size: 15px;
  }


